* {
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
  }
  
  body,
  html {
    margin: 0;
    background-color: white;
  }
  
  